# -- Number of replicas of trust to run.
replicaCount: 1

# -- For Private docker registries, authentication is needed. Registry secrets are applied to the service account
imagePullSecrets: []

image:
  # -- Target image repository.
  repository: quay.io/jetstack/trust-manager
  # -- Target image version tag.
  tag: v0.3.0
  # -- Kubernetes imagePullPolicy on Deployment.
  pullPolicy: IfNotPresent

app:
  # -- Verbosity of trust logging; takes a value from 1-5, with higher being more verbose
  logLevel: 1

  metrics:
    # -- Port for exposing Prometheus metrics on 0.0.0.0 on path '/metrics'.
    port: 9402
    # -- Service to expose metrics endpoint.
    service:
      # -- Create a Service resource to expose metrics endpoint.
      enabled: true
      # -- Service type to expose metrics.
      type: ClusterIP
      # -- ServiceMonitor resource for this Service.
      servicemonitor:
        enabled: false
        prometheusInstance: default
        interval: 10s
        scrapeTimeout: 5s
        labels: {}

  readinessProbe:
    # -- Container port on which to expose trust HTTP readiness probe using default network interface.
    port: 6060
    # -- Path on which to expose trust HTTP readiness probe using default network interface.
    path: "/readyz"

  trust:
    # -- Namespace used as trust source. Note that the namespace _must_ exist
    # before installing trust-manager.
    namespace: cert-manager

  webhook:
    # -- Host that the webhook listens on.
    host: 0.0.0.0
    # -- Port that the webhook listens on.
    port: 6443
    # -- Timeout of webhook HTTP request.
    timeoutSeconds: 5
    # -- Type of Kubernetes Service used by the Webhook
    service:
      type: ClusterIP


resources: {}
  # -- Kubernetes pod resource limits for trust.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # -- Kubernetes pod memory resource requests for trust.
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
